.main-container{    
    display: flex;
    flex-direction: column;    
    border: 1px solid var(--primaryColor);    
  }
  
  .main-title{
    height: 10%;
    width: 100%;    
  }
  
  .menu-container{
    height: 100%;
    width: 100%;
    border: 1px solid var(--primaryColor);
    display: flex;
    justify-content: space-evenly;
  }